apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-inference-api
  labels:
    app: ml-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ml-api
  template:
    metadata:
      labels:
        app: ml-api
    spec:
      containers:
        - name: ml-api
          image: heet09/mlops-fastapi:latest
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: "models/model.pkl"
